@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Nothing+You+Could+Do&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@600&family=Metamorphous&family=Rye&family=Srisakdi:wght@700&display=swap");

/*-------------FONTS IMPORTED FROM GOOGLE FONTS---------------*/
/* font-family: 'Lobster', cursive;
font-family: 'Nothing You Could Do', cursive;
font-family: 'Roboto', sans-serif; */
/*  */ /*font-family: 'Monoton', cursive;

//**FOR NEON**/
/*
font-family: 'Rye', cursive;
 */
/*---------UNIVERSAL PAGES-----------------*/
body {
  background-image: url("./public/purplebrick.jpeg");
  background-size: 100%;
}

/*---------WELCOME PAGE-----------------*/
.home {
  font-family: "Rye", cursive;
  text-align: center;
  font-size: 70px;
  color: rgba(221, 250, 174, 0.324);
}
.hands-img {
  filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(75deg);
  position: relative;
  top: -90px;
}

/*---------NEON GLOW FOR BANNERS-----------------*/
@keyframes neon {
  70% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.153),
      0 0 20px rgba(255, 255, 255, 0.44), 0 0 30px #7da728, 0 0 40px #aaf443,
      0 0 50px #00e613, 0 0 60px #7db070, 0 0 70px #81bb30;
    /* o.g. */
  }

  100% {
    text-shadow: 0 0 10px rgba(250, 248, 221, 0.406),
      0 0 20px rgba(255, 255, 255, 0.543), 0 0 30px #a7a728, 0 0 40px #dcf443,
      0 0 50px #73e600, 0 0 60px #95b070, 0 0 70px #afbb30;
    /* more yellow*/
  }

  40% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.153),
      0 0 20px rgba(255, 255, 255, 0.44), 0 0 30px #7da728, 0 0 40px #aaf443,
      0 0 50px #00e613, 0 0 60px #7db070, 0 0 70px #81bb30;
    /* o.g. */
  }

  5% {
    text-shadow: 0 0 10px rgba(252, 236, 13, 0.55),
      0 0 20px rgba(215, 187, 29, 0.543), 0 0 30px #c6c60f, 0 0 40px #c5d844,
      0 0 50px #b4e600, 0 0 60px #89ce28, 0 0 70px #bbcb0e;
    /*yellow and translucent*/
  }

  10% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.153),
      0 0 20px rgba(255, 255, 255, 0.44), 0 0 30px #7da728a7, 0 0 40px #aaf44395,
      0 0 50px #00e6139a, 0 0 60px #7db07092, 0 0 70px #81bb3084;
    /* o.g. but translucent */
  }
}
.opening-banner {
  animation-name: neon;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/*---------REGISTER PAGE-----------------*/
.register {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: rgb(167, 86, 249);
}
.register-header {
  font-family: "Lobster", cursive;
  font-size: 40px;
  padding: 50px 0 0 190px;
}

/*---------LOGIN PAGE-----------------*/
.login {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: rgb(167, 86, 249);
}
.login-header {
  font-family: "Lobster", cursive;
  font-size: 40px;
  padding: 50px 0 0 190px;
}

/*---------PROFILE PAGE-----------------*/
.profile {
  color: rgb(184, 154, 255);
  font-family: "Lobster", cursive;
  font-size: 40px;
  text-align: center;
}
.list {
  text-align: left;
  font-family: "Nothing You Could Do", cursive;
  font-size: 30px;
  color: white;
  padding-left: 180px;
}
.list-item {
  padding: 20px;
}

/*---------NAV BAR-----------------*/
.navbar {
  font-family: "Monoton", cursive;
  text-align: center;
  margin-top: 10px;
}
.link {
  padding: 0 40px 0 40px;
  color: rgb(255, 255, 255);
  font-size: 40px;
  text-decoration: none;
}

/*---------CRYSTAL BALL PAGE-----------------*/
.crystal-ball {
  color: rgba(211, 255, 154, 0.42);
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 50px;
  background-image: url("./public/eyesclear.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.future-banner{
  font-family: "Rye", cursive;
  font: 70px;
  animation-name: neon;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.big-button {
  background-color: transparent;
  border: none;
  outline: none;
  transform: scale(1.5);
  margin: 100px;
  opacity: 0.4;
}
.big-button:hover {
  cursor: pointer;
  opacity: 1;
}
.wisdom {
  font-family: "Nothing You Could Do", cursive;
  font-size: 30px;
  color: white;
}
.modal {
  font-family: "Nothing You Could Do", cursive;
  font-size: 30px;
  color: white;
  text-align: center;
}

/*---------LOGOUT PAGE-----------------*/
.logout {
  background-color: green;
}

/*---------BUTTONS-----------------*/
.button {
  background-color: rgba(128, 0, 128, 0.591);
  margin: 20px;
  font-family: "Lobster", cursive;
  font-size: 20px;
  border-radius: 45%;
  outline: none;
  padding: 13px;
  color: rgb(184, 154, 255);
}
.button:hover {
  background-color: rgba(115, 145, 223, 0.625);
  cursor: pointer;
}

/*---------MISC/UNIVERSAL----------------*/
.input-bar {
  background-color: rgba(189, 183, 107, 0.358);
  font-family: "Nothing You Could Do", cursive;
  font-size: 25px;
}
.form {
  margin: 25px;
}
