.main-div {
  outline: red 2px solid;
}
.register {
  background-color: aqua;
}
.profile {
  background-color: cadetblue;
}
.crystalball {
  background-color: rgb(18, 233, 133);
}
.navbar {
  background-color: rgb(192, 213, 75);
}
.login {
  background-color: yellow;
}
.logout {
  background-color: green;
}
.button {
  background-color: rgb(225, 85, 225);
}
