@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Nothing+You+Could+Do&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

/*-------------FONTS IMPORTED FROM GOOGLE FONTS---------------*/
/* font-family: 'Lobster', cursive;
font-family: 'Nothing You Could Do', cursive;
font-family: 'Roboto', sans-serif; */
/* font-family: 'Oi', cursive; */
/*font-family: 'Monoton', cursive;*/

/*---------UNIVERSAL PAGES-----------------*/
body {
  background-color: black;
}
.main-div {
  font-family: "Monoton", cursive;
}

/*---------WELCOME PAGE-----------------*/
.home {
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: 70px;
  color: rgb(221, 250, 174);
}
.hands-img {
  filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(100deg);
}
.opening-banner {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.153),
    0 0 20px rgba(255, 255, 255, 0.44), 0 0 30px #7da728, 0 0 40px #aaf443,
    0 0 50px #00e613, 0 0 60px #7db070, 0 0 70px #81bb30;
}
/*---------REGISTER PAGE-----------------*/
.register {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: rgb(167, 86, 249);
}
.register-header {
  font-family: "Lobster", cursive;
  font-size: 40px;
  padding: 50px 0 0 190px;
}

/*---------LOGIN PAGE-----------------*/
.login {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: rgb(167, 86, 249);
}
.login-header {
  font-family: "Lobster", cursive;
  font-size: 40px;
  padding: 50px 0 0 190px;
}

/*---------PROFILE PAGE-----------------*/
.profile {
  color: rgb(184, 154, 255);
  font-family: "Lobster", cursive;
  font-size: 40px;
  text-align: center;
}
.list {
  text-align: left;
  font-family: "Nothing You Could Do", cursive;
  font-size: 30px;
  color: white;
  list-style-type: none;
}

/*---------NAV BAR-----------------*/
.navbar {
  background-color: rgba(165, 167, 155, 0.201);
  border-radius: 40%;
  text-align: center;
  margin: 50px;
}

/*---------CRYSTAL BALL PAGE-----------------*/
.crystal-ball {
  color: rgb(211, 255, 154);
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 50px;
}
.future-banner {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.153),
    0 0 20px rgba(255, 255, 255, 0.44), 0 0 30px #7da728, 0 0 40px #aaf443,
    0 0 50px #00e613, 0 0 60px #7db070, 0 0 70px #81bb30;
}
.big-button {
  font-size: 300px;
  background-color: transparent;
  border: none;
  outline: none;
}
.big-button:hover {
  cursor: pointer;
}
.wisdom {
  font-family: "Nothing You Could Do", cursive;
  font-size: 30px;
  color: white;
}

/*---------LOGOUT PAGE-----------------*/
.logout {
  background-color: green;
}

/*---------BUTTONS-----------------*/
.button {
  background-color: rgba(128, 0, 128, 0.591);
  margin: 20px;
  font-family: "Lobster", cursive;
  font-size: 20px;
  border-radius: 45%;
  outline: none;
  padding: 13px;
  color: rgb(184, 154, 255);
}
.button:hover {
  background-color: rgba(115, 145, 223, 0.625);
  cursor: pointer;
}

/*---------MISC/UNIVERSAL----------------*/
.link {
  padding: 50px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-decoration: none;
}
.input-bar {
  background-color: rgba(189, 183, 107, 0.358);
  font-family: "Nothing You Could Do", cursive;
  font-size: 25px;
}
.form {
  margin: 25px;
}
